{% extends "layout.twig" %}

{% block content %}

    {% include "includes/header.twig" %}

    <!-- Container -->
    <div class="container">

        <!-- Page Content -->
        <section class="template-content default">

            <!-- Main Widget Zone -->
            {{zone('main')|raw}}

        </section>
        <!-- End Page Content -->

        {% include "includes/footer.twig" %}

    </div>
    <!-- End Container -->

{% endblock %}
